body {
  margin: 0 auto;
  width: 850px;

}
main {
  margin: 0 auto;
  background-image: url(./space.jpg);
  color: white;
  height: 450px;
  font-family: 'Anton', sans-serif;
  font-size: 55px;
  text-align: center;
  padding-top: 40px;
}
section {
  display: flex;
  height: 324px;
  padding-top: 40px;
  padding-left: 40px;
  flex-flow: column wrap;
  background-color: rgb(224, 222, 222);

}
article {
  width: 270px;
  height: 374px;
  background-color: rgb(224, 222, 222);
}