body {height: 20%;
    width: 100%;
    background: rgb(185, 162, 162);}
    .blog {width: 1000px;}
    .main-container {
        height: 100%;
        widows: 100%;
        border: 1px solid red; 
    }
    .blogs-container {
        height: 100%;
        widows: 100%;
        border: 1px solid red; 
    }
    .blog {
        height: 100%;
        widows: 50%;
        border: 2px solid rgb(194, 194, 207); 
    }
    .main-container {
        height: 100%;
        widows: 100%;
        border: 1px solid red; 
    }