
[data-row] 
{
  height: 50px;
  margin: 25px;
  border: 1px solid lightgray;
}

[data-row].red {
  background-color: rgb(30, 8, 70);
}

[data-row].yellow {
  background-color: rgb(241, 226, 11);
}

[data-row].green {
  background-color: rgb(199, 38, 185);
}

[data-row].blue {
  background-color: rgb(11, 241, 11);
}

[data-color] {
  width: 25px;
  float: left;
}

[data-color="blue"] {
  height: 50px;
  background-color: rgb(241, 226, 11);
}

[data-color="green"] {
  height: 50px;
  background-color: rgb(30, 8, 70);
}

[data-color="red"] {
  height: 50px;
  background-color: rgb(199, 38, 185);
}

[data-color="yellow"] {
  height: 50px;
  background-color: rgb(11, 241, 11);
}

#announce-game-won {
  font-size: 70px;
  text-align: center;
}
