* {box-sizing: border-box;}
body {
  padding: 80px 40px;
}
.wrapper {
  max-width: 1000px;
  margin: 0px 50px 50px;
}
.wrapper > div {
  border: 1px solid grey;
  border-radius: 1px;
  background-color: cyan;
  padding: 1em;
}
.wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  /* grid-column: 1; */
  grid-row-start: 1;
  grid-row-end: 2;
}
.two {
  /* grid-column: 2; */
  grid-row-start: 2;
  grid-row-end: 3;
}
.three {
  grid-row-start: 2;
  grid-row-end: 3;
}
.four {
  grid-column: 3;
  grid-row: 4;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}
.seven {
  grid-column: 3;
  grid-row: 3;
}
.eight {
  grid-column: 2;
  grid-row: 4;
}
.nine {
  grid-column: 2;
  grid-row: 3;
}
header {
  display: flex;
  justify-content: center;
  font-size: 40px;
}